<div class="modal" id="modal-comments-export">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-warning">
            <p class="modal-card-title has-text-black is-uppercase">{{ i18n['export_all_comments'] }}</p>
            <button onclick="hide_modal('modal-comments-export')" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body bg-deepmatte">
            <div class="block has-text-white">{{ i18n['export_warning_text'] }}</div>
            <div class="block has-text-danger">{{ i18n['wish_to_proceed'] }}</div>
        </section>
        <footer class="modal-card-foot bg-deepmatte">
            <button id="modal-ok" onclick="export_all_comments(this);" class="button is-warning is-capitalized">
                {{ i18n['ok'] }}
            </button>
            <button id="modal-cancel" onclick="hide_modal('modal-comments-export')" class="button is-success is-capitalized">
                {{ i18n['cancel'] }}
            </button>
        </footer>
    </div>
</div>
