<div class="modal" id="modal-project-not-found">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-danger">
            <p class="modal-card-title has-text-white is-capitalized">{{ i18n['error'] }}</p>
            <button onclick="hide_modal('modal-project-not-found')" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body has-text-black">
            <div class="block">{{ i18n['message_project_404'] }}</div>
            <div class="block">
                <a  class="has-text-info is-uppercase"
                    href="https://github.com/domeniko-gentner/labertasche/issues"
                    target="_blank" rel="nofollow noopener norefferer">
                    {{ i18n['link'] }}
                </a>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button id="modal-ok" onclick="hide_modal('modal-project-not-found', {{ url_for('bp_dashboard.dashboard_project_list') }})"
                    class="button is-success is-capitalized">
                {{ i18n['ok'] }}
            </button>
        </footer>
    </div>
</div>
