<div class="modal" id="modal-project-delete">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-warning">
            <p class="modal-card-title has-text-black is-capitalized">{{ i18n['warning'] }}!</p>
            <button onclick="hide_modal('modal-project-delete')" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body has-text-black bg-deepmatte">
            <div class="block has-text-white">{{ i18n['delete_project_warning'] }}</div>
            <div class="block has-text-danger">{{ i18n['wish_to_proceed'] }}</div>
        </section>
        <footer class="modal-card-foot bg-deepmatte has-text-white">
            <button id="modal-delete-ok" onclick="project_delete()" class="button is-danger is-capitalized">
                {{ i18n['ok'] }}
            </button>
            <button id="modal-delete-cancel" onclick="hide_modal('modal-project-delete')" class="button is-success is-capitalized">
                {{ i18n['cancel'] }}
            </button>
        </footer>
    </div>
</div>
