{% extends "base.html" %}
{% block main %}
    <div style="min-height: 100vh;" class="container bg-deepmatte p-6 brdr-yayellow">
    <h1 class="is-size-2 mb-3 is-uppercase">{{ i18n['select_project_to_manage']}}</h1>
        <div class="columns is-multiline">
            <div class="column is-4">
                <div class="card my-shadow-subtle brdr-darkslate">
                    <div class="card-header">
                        <div class="card-header-title">
                            <p class="is-size-4 is-uppercase">
                                {{ i18n['new_project']}}
                            </p>
                        </div>
                    </div>
                    <div class="card-content has-text-white">
                        <div class="level is-mobile">
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading is-capitalized">{{ i18n['comments']}}</p>
                                    <p class="is-size-4 has-text-weight-bold has-text-white">n/a</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading is-capitalized">{{ i18n['unpublished']}}</p>
                                    <p class="is-size-4 has-text-weight-bold has-text-white">n/a</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div class="ml-4">
                                    <p class="heading is-capitalized">{{ i18n['spam']}}</p>
                                    <p class="is-size-4 has-text-weight-bold has-text-white">n/a</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="card-footer-item">
                            <!-- TODO: onclick -->
                            <a class="has-text-weight-bold has-text-black is-uppercase"
                               onclick="show_modal_with_project('modal-project-edit', null)"
                               data-tippy-content="{{ i18n['tooltip_create_new_project']  }}" href="#"
                               >{{ i18n['new']}}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% for each in projects %}
            <div class="column is-4">
                <div class="card my-shadow-subtle brdr-darkslate">
                    <div class="card-header">
                        <div class="card-header-title">
                            <p class="is-size-4 is-uppercase">
                               {{ each['name'] }}
                            </p>
                        </div>
                    </div>
                    <div class="card-content has-text-white">
                        <div class="level is-mobile">
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading is-capitalized">{{ i18n['comments']}}</p>
                                    <p class="is-size-4 has-text-weight-bold has-text-white">{{ each['total_comments'] }}</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading is-capitalized">{{ i18n['unpublished']}}</p>
                                    <p class="is-size-4 has-text-weight-bold has-text-white">{{ each['total_unpublished'] }}</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div class="ml-4">
                                    <p class="heading is-capitalized">{{ i18n['spam']}}</p>
                                    <p class="is-size-4 has-text-weight-bold has-text-white">{{ each['total_spam'] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="card-footer-item has-background-danger-dark">
                            <a class="has-text-weight-bold has-text-white is-uppercase"
                               data-tippy-content="{{ i18n['tooltip_delete_project'] }}"
                               onclick="show_modal('modal-project-delete', '{{ each['name'] }}');">
{#                                {{ i18n['delete']}}#}
                                <span class="icon"><span class="mdi mdi-24px mdi-delete"></span></span>
                            </a>
                        </div>
                        <div class="card-footer-item">
                            <a class="has-text-weight-bold has-text-black is-uppercase"
                               onclick="show_modal_with_project('modal-project-edit', '{{ each['name'] }}');"
                               data-tippy-content="{{ i18n['tooltip_edit_project'] }}"
                               href="#">
                                <span class="icon"><span class="mdi mdi-24px mdi-database-edit"></span></span>
                            </a>
                        </div>
                        <div class="card-footer-item">
                            <a class="has-text-weight-bold has-text-black is-uppercase"
                               onclick="show_modal('modal-comments-export', '{{ each['name'] }}')"
                               data-tippy-content="{{ i18n['tooltip_export_all_comments'] }}"
                               href="#">
                                <span class="icon"><span class="mdi mdi-24px mdi-webhook"></span></span>
                            </a>
                        </div>
                        <div class="card-footer-item">
                            <a class="has-text-weight-bold has-text-black is-uppercase"
                               data-tippy-content="{{ i18n['tooltip_manage_this_project'] }}"
                               href="{{ url_for('bp_dashboard.dashboard_project_stats', project=each['name']) }}">
                                <span class="icon"><span class="mdi mdi-24px mdi-view-comfy"></span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% include "modals/project_not_found.html"  %}
    {% include "modals/project-delete.html"     %}
    {% include "modals/project_edit.html"       %}
    {% include "modals/comments-export-all.html"%}
{% endblock %}
