<pre>
Hey there,
You are receiving this Mail, because you have recently made a comment on {{ blogurl }}.

If you wish to publish your comment, please copy this into your browser:
{{ confirmation_url }}

If you wish to delete your comment, please copy this into your browser:
{{ deletion_url }}

If this was in error or if someone used your Mail address without your knowledge, please contact the site
adminitrator at {{ blogurl }}.

--------------------------------------------------------------------------------------------------------
Powered by Labertasche, licensed via MIT license: https://labertasche.tuxstash.de
</pre>
