<pre>
Hallo,
Du erhältst diese Email, weil du soeben einen Kommentar auf {{ blogurl }} hinterlassen hast.

Wenn du deinen Kommentar veröffentlichen willst, kopiere bitte diesen Link in deinen Browser:
{{ confirmation_url }}

Wenn du deinen Kommentar löschen willst, kopiere bitte diesen Link in deinen Browser:
{{ deletion_url }}

Wenn du glaubst, dass dies ein Fehler war oder jemand deine Email Adresse ohnen deinen Wissen verwendet hat,
kontaktiere bitte den Administrator von {{ blogurl }}.

--------------------------------------------------------------------------------------------------------
Powered by Labertasche, lizensiert via MIT license: https://labertasche.tuxstash.de
</pre>
